.ui-parallax-container
  position relative
  overflow hidden
  height 500px

  .ui-parallax-background
    position absolute
    top 0
    bottom 0
    z-index -1
    width 100%
    height inherit
    background-size cover
