ui-placeholder()
  &::-webkit-input-placeholder
    {block}

  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}

/*
 * Dimensions
 */
ui-square(size, radius)
  width size
  height size

  if radius is defined
    border-radius radius


ui-positions(t= 0px, r = 0px, b = 0px, l= 0px)
  if t isnt false
    top t

  if r isnt false
    right r

  if b isnt false
    bottom b

  if l isnt false
    left l


ui-absolute-layer(arguments)
  position absolute
  ui-positions arguments

ui-fixed-layer(arguments)
  position fixed
  ui-positions arguments



ui-transition($property = 'all', $timing = $time_1x, $easing = $default-easing)
  transition $transition $timing $easing
