// Breakpoints
rupture['mobile-cutoff'] = 550px
rupture['desktop-cutoff'] = 1200px
rupture['hd-cutoff'] = 1800px


// Timings
$time-1x = 0.1s
$time-2x = 0.2s
$time-3x = 0.3s
$time-4x = 0.4s
$time-5x = 0.5s

// Colors
$primary = #F01363

// System colors
$success = #24ca50
$info = cyan
$warning = yellow
$danger = red

// Shades
$lighter = #fff
$light = #e6e6e6
$dark = #5F697E
$darker = #000


// Interited Colors
$body-bg = $lighter
$border-color = #E2E9ED
$shadow-color = rgba(#D3D3D3, 0.2)
$inactive-color = #F8F8F8

// Font Properties
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-medium = 500
$font-weight-bold = 700
$font-weight-bolder = 800

$font-size-base = 14px
$line-height-base = 1.5
$font-family-stack = 'FuturaPT', sans-serif
$font-weight-base = 400



// Layout
$container-width = 960px
$container-width-desktop = 960px
$container-width-tablet = 720px
$container-width-mobile = 460px

$gutter = 30px
$half-gutter = ($gutter / 2)


$border-radius = 3px



// Buttons
$button-shadow-color = rgba(0, 0, 0, 0.12)
$button-border-color = #cbd6dd
$button-text-color = #A6ABB0


// Header
$header-height = 100px
$header-height-mobile = 60px
$header-bg = $body-bg



// Time Scale
$time-1x = 0.2s
$time-2x = 2 * $time-1x
$time-3x = 3 * $time-1x
$time-4x = 4 * $time-1x
$time-5x = 5 * $time-1x
$time-6x = 6 * $time-1x
$time-7x = 7 * $time-1x
$time-8x = 8 * $time-1x
$time-9x = 9 * $time-1x
