:local(.container)
  display flex
  flex-direction column
  justify-content center

  .thanks-title 
    font-weight $font-weight-bolder
    font-size 80px
    line-height 63px
    letter-spacing 0.64px
    text-align left
    color #fff
    margin-bottom 10px
  
  .thanks-sub-text
    font-size 24px
    color #fff
    opacity 0.3
    margin-bottom 60px
    position relative
    &:after
      position absolute
      left 0
      bottom -50px
      width 500px
      max-width 60vw
      height 1px
      content ''
      background-color #fff

  .thanks-heart
    color #ff4848
    font-size 40px
    margin-left 4px

  .social-icons
    margin-top 100px
  .social-icon
    margin-right 50px
    margin-bottom 50px
    display inline-block
    opacity 0.4
    padding: 2px;
    transition opacity $time-1x ease , transform $time-1x ease
    transform scale(1)
    transform-origin center center 
    path[fill='#FFF']
      fill $dark
    &:hover
      path[fill='#FFF']
        fill #000
    &.is-active, &:hover
      opacity 1
      transform scale(1.3)
  .social-link
    width 30px
    height 30px
    background-color #fff
    border-radius 50%
    display flex
    align-items center
    justify-content center
    svg
      position relative
      z-index 1
      width 16px 
      height 16px
    
    
