$porfolio-text-color = rgba(#000, 0.7)
$detail-view-pad-x = 135px
$detail-view-pad-y = 100px

:local(.container),
:local(.container):not(.bg-dark)
  background-color #fafafa

:local(.container)
  .app-sidebar 
    color $porfolio-text-color
    .sidebar-link
      color #000000

  .portfolio-item-details
    padding-top 50px
    padding-left 120px
    height 50vh
    background-color #ddd
    color $porfolio-text-color
    +mobile()
      height 65vh
      padding-left 50px
    &:hover .is-clickable .white-bg-bar
      width 100% !important
  
  
  .portfolio-item-image
    will-change transform
    transform scale(1) translate3d(0,0,0)
    transform-origin center center
    transition transform 0.1s linear
    width 600px
    height 300px
    position absolute
    left 50%
    top 50%
    z-index 1
    margin-left -300px
    margin-top -150px
    position relative
    &:after
      position absolute
      top 10%
      left 10%
      right 10%
      bottom 4%
      content ''
      box-shadow 0px 25px 50px 0 rgba(#000, 0.3)
      z-index -1
    +mobile()
      width 90vw
      height 45vw
      margin-left -45vw
      margin-top 35px
    .item-img
      object-fit cover
      object-position center top


  .portfolio-title
    font-weight $font-weight-bolder
    font-size 24px
    letter-spacing 0.13px
    line-height 32px

  .portfolio-description
    margin-top 30px
    font-size 18px
  
  .demo-links
    margin-top 20px
    font-size 18px

  .ui-button
    color inherit
    border-color transparent
    min-width 200px
    text-align left
    display flex
    align-items center
    position relative
    .btn-text
      flex 1
    .btn-icon
      text-align right

  .case-study-button
    margin-top 30px
    position relative
    .btn-text, .btn-icon
      position relative
      z-index 1
    .btn-icon
      will-change transform
      transform translate3d(0px, 0px, 0px)
      transition transform $time-2x ease
    &:before 
      position absolute
      top 0 
      left 0
      right 0
      color inherit
      bottom 0
      border 1px currentColor solid
      content ''
    &:hover .btn-icon
      transform translate3d(10px, 0px, 0px)
    
  
  .white-bg-bar
    position absolute
    top 0
    left 0
    bottom 0
    background-color #fff
    will-change width
    transition width 0.6s cubic-bezier(0.25, 0.1, 0, 0.99)

  .demo-link
    &:not(:first-child)
      margin-left 50px
      position relative
      &:after
        position absolute
        content '.'
        left -25px


// Detail View
:local(.detailViewWrapper) 
  position fixed
  top 0
  left 0 
  bottom 0
  right 0
  z-index -1
  overflow hidden

  .detail-view-inner, .detail-view-backdrop
    position absolute
    top 0
    bottom 0

  .detail-view-inner
    width 100vw
    background-color #fff
    overflow-y auto
    z-index 2
    will-change transform
    transform translate3d(100vw, 0px, 0px)
    transition transform $time-2x ease-in-out
    transition-delay $time-1x
  
  .detail-view-backdrop
    right 0
    left 0
    opacity 0
    z-index 1
    background-color rgba(0,0,0,0.5)
    transition opacity $time-1x ease
  
  .back-button
    cursor pointer
    position fixed
    left 50px
    top 50px
    z-index 300
    opacity 0
    transform translate3d(-40px, 0px, 0px)
    transition opacity $time-2x ease, transform $time-2x ease-in
    transition-delay $time-3x
    +mobile()
      left 25px
      top 25px
  
  .back-button-inner
    width 60px
    height 60px
    background-color #222325
    border 1px #222325 solid
    border-radius 50%
    color #fff
    display flex
    align-items center
    justify-content center
    text-indent 0px
    transition text-indent .6s cubic-bezier(0.57, 0.01, 0.16, 0.99)
    &:hover
      background-color #fff
      color #000
      text-indent -10px
      font-size 20px

  &.is-open 
    z-index 100
    .back-button
      opacity 1
      transform translate3d(0px, 0px, 0px)
    .detail-view-backdrop
      opacity 1
    .detail-view-inner
      transform translate3d(0vw, 0px, 0px)


:local(.detailViewWrapper)
  .herman-miller-portfolio 
    .next-case-button .btn-overlay
      background-color #E3D4FE
  .housing-portfolio 
    .next-case-button .btn-overlay
      background-color #60CCEF
  .compass-portfolio 
    .next-case-button .btn-overlay
      background-color #EEBB78
  .indiez-portfolio 
    .next-case-button .btn-overlay
      background-color #6BF9E0
  
  .detail-view-hero
    display flex
    align-items center
    justify-content center
    height 650px
    & + .information-section
      border-top none
      
  .hero-content
    width 100%
    padding $detail-view-pad-y $detail-view-pad-x

  .hero-title
    font-weight $font-weight-bolder
    font-size 144px
    max-width 70vw
    line-height 130px
    color #fff

  .hero-description 
    margin-top 30px
    color #fff
    font-size 36px
    line-height 60px
  
  .project-video-container 
    padding 50px 0
    .ui-embed
      margin 0 auto

  .project-image
    padding 50px 0
    width 100vw
    margin 0
    .img-fluid
      width 100%

  .project-video-container,
  .project-image,
  .sp-1fr
    background-color #353535

  .margin-x-box
    margin 0 $detail-view-pad-x
    

  .information-section
    padding $detail-view-pad-y 0
    display flex
    border-top 1px #979797 solid
    .label 
      width 400px
      flex-shrink 0
      font-size 36px
      color #424A5C
    .value 
      font-size 36px
      color rgba(#5F697E, 0.6)
  .info-link
    display flex
    line-height 80px
    // color #000
  .sp-1fr
    height 50px
    width 100%

  .footer-section, .next-case-section
    padding 50px 0
    .margin-x-box
      display flex
      align-items center

  .footer-links
    font-size 18px
    line-height 23px
    letter-spacing -0.2px
  .footer-link
    margin-left 50px
    color #424A5C
    transition color $time-1x ease
    &:hover
      color #101217

  .next-case-section
    height 300px
    display flex
    align-items center
    position relative
    .margin-x-box
      justify-content space-between
      width 100%
    .next-study-bg
      content ''
      position absolute
      top 0 
      left 0 
      right 0 
      bottom 0
      z-index -1
      background-size cover
      // background-image url('/public/img/detail-view/next-study-bg.jpg')
      background-position center center
      background-repeat no-repeat
      opacity 0.1
  .next-case-label
    font-size 24px
    line-height 31px
    color #000
  .next-case-button 
    display flex
    align-items center
    position relative
    z-index 10
    justify-content space-between
    background-color #000
    color #fff
    height 120px
    width 360px
    padding 0 50px
    cursor pointer
    overflow hidden
    will-change background-color, color
    transition color 0.12s
    // transition-delay 0.15s
    .btn-overlay
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index -1
      background-color #666
      will-change transform 
      transform translate3d(-100%, 0px, 0px)
      transition transform 0.8s cubic-bezier(0.25, 0.1, 0, 0.99)
    &:hover
      // background-color #fff
      color #000
      .btn-overlay
        transform translate3d(0%, 0px, 0px)
    

  .info-icon
    width 60px
    margin-left -60px
  +tablet()
    .hero-content
      padding-left 60px
      padding-right 60px
    .hero-title
      font-size 100px
      line-height 100px
    .hero-description
      font-size 30px
      line-height 36px
    .margin-x-box
      margin 0 60px
    .information-section
      padding 80px 0
      .label
        width 250px
        font-size 28px
      .value
        font-size 30px
      


  +mobile()
    .hero-content
      padding-left 25px
      padding-right 25px
    .hero-title
      font-size 72px
      line-height 70px
    .hero-description
      font-size 20px
      line-height 28px
    .margin-x-box
      margin 0 25px
    .information-section
      margin 0 25px
      padding 50px 0
      flex-direction column
      .label 
        width 100%
        margin-bottom 25px
        &:empty
          display none
      .value
        font-size 24px
        line-height 32px
    .info-link
      line-height 60px
      font-size 18px
    .info-icon
      margin-left 0
      flex-shrink 0
