:local(.container)

  .page-section
    min-height 100vh
    width 100vw
    position relative
  
  .cd-section
    position relative
    min-height 100vh
  
  .cd-section.stuck .page-section
    position fixed
    left 0
    right 0
    bottom 0
    +mobile()
      position relative

  .live-logo
    width 60px
    height 60px
    background-color #000
  .live-logo-link
    position fixed
    top 100px
    right 50px
    z-index 10

  .horizontal-text
    margin-top 73px
    position relative
    height 115px
    .horizontal-text-inner
      position absolute
      right 0
      top 0
      font-size 90px
      font-weight $font-weight-bolder
      line-height 115px
      white-space nowrap
      color #f1f1f1
      animation text-travels-x 30s linear infinite
