$dropdown-menu-bg ?= #fff
$dropdown-item-hover-bg ?= #EEF2F5
$dropdown-arrow-size ?= 8px
$dropdown-item-color ?= $button-text-color
$dropdown-item-hover-color ?= darken($dropdown-item-color, 20%)

:local(.container)
  position relative
  display flex
  flex-direction column
  align-items stretch

  .ui-dropdown-menu
    position absolute
    max-width 350px
    min-width 200px
    padding 6px 0
    width 100%
    border 1px $border-color solid
    background-color $dropdown-menu-bg
    box-shadow 0 6px 10px 0 $shadow-color

    &:before, &:after
      position absolute
      left 20px
      width 0
      height 0
      border $dropdown-arrow-size transparent solid
      content ''

    &:before
      top -2 * $dropdown-arrow-size
      z-index 2
      border-bottom-color $dropdown-menu-bg

    &:after
      top -2 * ($dropdown-arrow-size + 1)
      left 19px
      z-index 1
      border-width $dropdown-arrow-size + 1
      border-bottom-color $border-color

  .ui-button
    height 100%

  .ui-dropdown-item
    padding 12px 30px
    letter-spacing 0.2px
    font-weight $font-weight-normal
    font-size 14px
    line-height 16px
    transition all 0.16s
    user-select none
    color $dropdown-item-color

    &:hover
      color $dropdown-item-hover-color
      // background-color $dropdown-item-hover-bg

    &:active, .is-active
      background-color $dropdown-item-hover-bg
      // background-color $primary
      // color #fff

  .ui-dropdown-menu
    pointer-events none
    opacity 0
    transform translate3d(0px, -20px, 0px)
    transition all 0.24s ease

  &:hover .ui-dropdown-menu
    pointer-events all
    opacity 1
    transform translate3d(0px, 0px, 0px)  

:local(.container).align-menu-right 
  .ui-dropdown-menu
    right 0
    &:before
      left initial
      right 16px
    &:after
      left initial
      right 15px
