$sidebar-width ?= 320px;
$sidebar-bg ?= #ddd


:local(.container)
  position relative
  z-index 10
  .sidebar-inner 
    transform translate3d(-1 * $sidebar-width, 0, 0)
    transform-origin center left
    transition transform $time-3x ease-in-out
    will-change transform

  &.is-open
    ui-fixed-layer 0
    .sidebar-inner
      transform translate3d(0px, 0, 0)
    .sidebar-backdrop
      animation fadeIn $time-2x


:local(.container)
  .sidebar-inner 
    ui-absolute-layer 0 false 0 0
    z-index 10
    background-color $sidebar-bg
    color $dark
    width $sidebar-width
  
  .sidebar-backdrop
    z-index 9
    ui-absolute-layer 0
    cursor pointer
    background-color rgba(0,0,0,0.64)
