$sidebar-width ?= 30px

:local(.container)
  padding 50px 0
  // width $sidebar-width
  width 30px
  display flex
  flex-direction column

  position absolute
  // bottom 0
  height 100vh
  top 0
  &:not(.in-right)
    left 40px
    +mobile()
      padding 25px 0
      left 10px
      .sidebar-links
        display none
  
  &.in-right
    right 30px
    text-align right
    +mobile()
      padding 25px 0
      right 15px

  .sidebar-links
    flex 1
    position relative

  .sidebar-link
    display block
    position absolute
    &:not(.inverted)
      transform rotate(-90deg)
      transform-origin bottom left
      left 80%
    &.inverted
      transform rotate(90deg)
      transform-origin top right
      right 80%

    font-size 12px
    font-weight $font-weight-bold
    letter-spacing 1px

    &.behance-link
      bottom 90px
    &.dribble-link
      bottom 0px

  
  
  .sidebar-logo
    cursor pointer
    position relative
    z-index 1
    +mobile()
      margin-top -25px
      margin-left -15px
      background-color #121417
      height 80px
      width 80px
