body {
    margin: 0;
    width: 100%;
    font-family: FuturaPTBold;
}
.stuck {
    overflow: hidden;
}
.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);    
}
#bh-svg {
    fill: #ffffff;
}
#bh-svg2 {
    fill: #000000;
}
.svg-elem2.hide {
    display: none;
}
.svg-elem.svg-elem2 {
    position: absolute !important;
}

#bh-svg.black {
    fill: #000000;
}
.b-logo.svg-elem {
    position: fixed;
    left: 45px;
    top: 70px;
    z-index: 10;
}

.dribble {
    position: fixed;
    left: 25px;
    bottom: 80px;
    color: #fff;
    z-index: 10;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5pt;
}
.behance {
    position: fixed;
    left: 25px;
    bottom: 200px;
    color: #fff;
    z-index: 10;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5pt;
}
.behance2, .dribble2 {
    position: absolute !important;
    color: #000;
}
.behance2 {
    top: 45%;
    left: 25px;
    color: #000;
    z-index: 10;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5pt;
}
.dribble2 {
    top: 52%;
    left: 25px;
    color: #000;
    z-index: 10;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5pt;
}

.b-logo.black{
    color: #000;
}
.sec-1 {
    position: fixed;
    background: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
}
.main-h1 {
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
    width: 830px;
    text-align: left;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    top: 35%;
    position: relative;
}

.main-h1-1 {
    /* opacity: 0; */
    /* transform: translateY(40px); */
    /* transition: .5s all; */
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-name: bottom-to-top;
    animation-fill-mode: both;
    animation-timing-function: ease;
    z-index: 10;
    background: #000;
    position: relative;
    transform: translateY(-200%);
    /* line-height: 66px; */
}

.main-h1-1-dumb, .main-h1-2-dumb, .main-h1-3-dumb {
    position: relative;
    z-index: 11;
    background: #000;
    /* width: 580px; */
    height: 60px;
    margin-top: 0;
}
.main-h1-2 {
    /* opacity: 0; */
    /* transform: translateY(40px); */
    /* transition: .9s all; */
    animation-delay: 0.7s;
    animation-duration: 1s;
    animation-name: bottom-to-top2;
    animation-fill-mode: both;
    animation-timing-function: ease;
    z-index: 12;
    background: #000;
    position: relative;
    /* transform: translateY(-150%); */
}
.main-h1-2-dumb {
    z-index: 13;
    margin-top: -50px;
}
.main-h1-3-dumb {
    z-index: 16;
    margin-top: -50px;
}
.main-h1-3 {
    /* opacity: 0; */
    /* transform: translateY(40px); */
    /* transition: 1.2s all; */
    animation-delay: .8s;
    animation-duration: 1s;
    animation-name: bottom-to-top3;
    animation-fill-mode: both;
    animation-timing-function: ease;
    z-index: 15;
    background: #000;
    position: relative;
}
.main-h1-4 {
    position: relative;
    z-index: 30;
    background: #000;
    width: 580px;
    height: 80px;
    margin-top: 0;
}
.main-h1-1.active, .main-h1-2.active, .main-h1-3.active {
    /* opacity: 1;
    transform: translateY(0); */
}


.main-h1.active {
    /* transform: translateX(-50%); */
    /* opacity: 1; */
}
.main-h1 .phil {
    color: #ff4368;
}
.prfl-img {
    position: fixed;
    top: 100px;
    right: 150px;
    background-image: url('./images/profile-image.jpg');
    width: 640px;
    height: 640px;
    background-size: cover;
    transition: .5s all;
    transform: translateY(40px);
    opacity: 0;
}

.prfl-img.active {
    opacity: 1;
    transform: translateY(0);
}

.prfl-img-2 {
    width: 960px;
    height: 400px;
    background-color: #c0c0c0; 
    margin: 0 auto;
    background-image: url('http://uploads.webflow.com/57eae1464c12cc233cba78ba/5a3abdf38ca2690001b7cdd7_Hi%20I%20%E2%80%98m%20Rahul%20Bhosal.png');
    background-size: cover;
}
.b-down {
    position: fixed;
    top: 300px;
    right: 100px;
    z-index: 4;
}


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

@keyframes bottom-to-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom-to-top2 {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50px);
    }
}

@keyframes bottom-to-top3 {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50px);
    }
}

.bounce {
    /* animation: bounce 2s infinite; */
}


.sec-2{
    position: relative;
    margin-top: 60%;
    background: #fff;
    height: 100%;
    padding-top: 20px;
}
.sec-2 p.first {
    padding-top: 100px;
}
.sec-2 p.second {
    padding-top: 40px;
}
.sec-2 p.third {
    padding-top: 0;
    margin-top: 0;
}
.sec-2 p {
    font-family: FuturaPTBook;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 36px;
    line-height: 60px;
}

.dumb-sec-detect {
    position: absolute;
    top: -100px;
    left: 0;
    background: transparent;
    z-index: -5;
    width: 1px;
    height: 100px;

}

.sec-3 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top:0;
    background: #fff;
}

.sec-3.fixed {
    position: fixed;
}

.sec-3.fixed .sec-3-head {
    position: fixed;
    left: 0;
    right: 0;
}

.sec-3-head-content {
    position: relative;
    top: 60px;
    left: 100px;
    z-index: 12;
    width: 320px;
    color: #fff;
    transition: .7s all;;
    opacity: 0;
    transform: translateY(50px);
}
.sec-3-head-content.active {
    opacity: 1;
    transform: translateY(0);
}
.head-content-h1 {
    margin: 0;
}
.head-content-desc {
    margin-top: 20px;
    line-height: 25px;
    font-size: 13px;
}
.head-content-footer {
    margin-top: 10px;
    font-size: 13px;
}
.head-content-footer .item {
    margin-right: 10px; 
}

.btn {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: 0 0;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 400;
    border: 1px solid transparent;
    background: #fff;
    color: #414141;
}
.btn.case-study-btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    top: 20px;
    position: relative;
    cursor: pointer;
    line-height: 20px;
}
.btn.case-study-btn span {
    position: relative;
    top: -6px;
}
.btn-arrow {
    height: 14px;
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.sec-3 .herm-chair {
    width: 600px;
    height: 300px;
    background-color: #fff; 
    background-image: url('./images/herman-back.jpg');
    background-size: cover;
    border-radius: 2px;
    position: absolute;
    transform: scale(2.5);
    z-index: 2;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    box-shadow: 0 23px 50px 0 rgba(0, 0, 0, 0.1);
    /* transition: .7s all; */
}
.sec-3-head {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 50%;
    z-index: 2;
    background-image: linear-gradient(256deg, #ff3e3e, #ff4979);
}
.sec-3-content {
    width: 100%;
    height: 870px;
    background-color: #fff; 
    margin: 0 auto;
    background-image: #fff;/*url('./images/herman-back.jpg');*/
    background-size: cover;
    /* transition: .7s transform; */
    z-index: 0;
    /* transform: translateY(360px); */
}

.sec-3.sec-4 .sec-3-content {
    transform: translateY(-100%) !important;
}

.sec-3.sec-4 .herm-chair {
    transform: translateY(-150%) scale(1) !important;
    opacity: 0;
    transition: .7s all;
    will-change: transform;

}

.herm-right-panel {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: .7s transform;
    transform: translateX(100%);
    background: #fff;
    text-align: center;
    top:0;
    left: 0;
    z-index: 4;
    z-index: 20;
}

.herm-right-panel.active {
    transform: translateX(0);
}

.case-head-image {
    width: 100%;
    height: 600px;
    background-size: cover;
}
.case-head-image.herm {
    background-image: url('./images/herman-case.jpg');
    position: relative;
}
.case-head-wrap {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    right: 0;
    bottom: 0;
}
.case-text-wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
    text-align: left;
}
.case-head-h {
    font-size: 74px;
    width: 360px;
    line-height: 70px;
    margin-bottom: 15px;
}
.case-head-text {
    font-size: 18px;
    line-height: 18px;
    width: 310px;
    font-family: FuturaPT;
    line-height: 30px;
}

.right-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.case-sec {
    margin: 150px 150px 80px 200px;
    text-align: left;
}
.case-sec.bordered {
    border-top: 1px solid #e6e6e6;
    margin-top: 80px;
    padding-top: 80px;
}
.case-sec.no-border {
    border: none;
    margin-top: 80px;
}

.case-sec-h {
    margin: 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.case-sec-text {
    display: inline-block;
    vertical-align: top;
    width: 420px;
    box-sizing: border-box;
    font-family: FuturaPT;
    opacity: .6;
    line-height: 30px;
    font-size: 20px;
}
.case-sec-text.no-opac {
    opacity: 1;
}

.case-item {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    font-size: 18px;
}

.case-item-text {
    color: #ce3a39;
}
.case-item-sub {
    float: right;
    color: #ff5402;
}

.case-project-image {
    background-image: url('./images/herman-project-image.jpg');
    width: 100%;
    height: 4856px;
    background-size: contain;
}
.case-next-project {
    padding: 110px 0;
    text-align: center;
}
.case-next-title {
    font-size: 64px;
}

.right-panel-back {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    padding: 10px;
    cursor: pointer;
}

.sec-3.sec-4 .sec-3-head {
    background-image: linear-gradient(256deg, #b53eff, #35388e);
}

.compass {
    width: 612px;
    height: 306px;
    background-color: #fff; 
    background-size: cover;
    border-radius: 2px;
    position: absolute;
    transform: translateY(100%);
    transition: .9s all;
    opacity: 0;
    left: 50%; 
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    z-index: 2;
    background-image: url('http://uploads.webflow.com/57eae1464c12cc233cba78ba/5a3bd7999209280001279922_Project%202%20Imag.png');
    box-shadow: 0 23px 50px 0 rgba(0, 0, 0, 0.1);
}

.hide {
    display:  none;
}
.sec-4 .compass {
    transform: translateY(0);
    transition: .9s all;
    opacity: 1;
}
.compass.gone {
    opacity: 0;
} 
.compass-content {
    width: 100%;
    height: 870px;
    background-color: #fff; 
    /* background-image: url('http://uploads.webflow.com/57eae1464c12cc233cba78ba/5a3bd7999209280001279922_Project%202%20Imag.png'); */
}

#dummy-sec-1 {
    position: relative;
    min-height: 700px;
}
#dummy-sec-2 {
    position: relative;
    min-height: 1100px;
}

.footer {
    position: relative;
    /* top: 400px; */
    height: 100%;
    background: #000;
    color: #fff;
    z-index: 1;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}
.footer .h {
    font-size: 36px;
}
.footer .recog-content {
    width: 1024px;
    height: 450px;
    transform: translateX(-50%);
    left: 50%;
    top: 100px;
    position: relative;
    
}
.recog-h {
    padding: 65px 130px;
}
.recog-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 40px 80px;
    cursor: pointer;
}