html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #0f1213;
  color: #fff;
  position: relative;
  font-size: 1em;
  font-weight: normal;
  font-family: Circular-Book;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
@media only screen and (min-width: 769px) {
  .hidden-above-cutoff {
    display: none;
  }
}
@media only screen and (max-width: 769px) {
  .hidden-below-cutoff {
    display: none;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
}
header,
footer {
  height: 6.4em;
}
@media only screen and (max-width: 769px) {
  header,
  footer {
    height: 4.12em;
  }
}
.side-nav {
  border-left: 1px rgba(255,255,255,0.2) solid;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
}
@media only screen and (max-width: 769px) {
  .side-nav {
    flex-direction: row;
    position: static;
    width: 100vw;
    margin: 32px 0;
  }
}
.side-nav > a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  transform: rotateZ(90deg);
  transform-origin: center center;
  text-align: center;
}
@media only screen and (max-width: 769px) {
  .side-nav {
    flex-direction: row;
    position: static;
    width: 100vw;
    padding: 0 22px;
  }
  .side-nav > a {
    transform: none;
  }
}
.main-container {
  margin-right: 0;
}
@media only screen and (min-width: 769px) {
  .main-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 120px;
  }
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 769px) {
  .main-content {
    flex-direction: column;
  }
}
.content-left {
  display: block;
  background-color: #e7e7e7;
  background-image: url("./rb.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 5;
}
@media only screen and (max-width: 769px) {
  .content-left {
    height: 64vh;
  }
}
.content-right {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 0 64px;
  font-size: 16px;
  letter-spacing: 0.4px;
}
.content-right .name {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
  margin-top: -8px;
}
.content-right .desc {
  flex: 1;
  overflow-y: auto;
}
.content-right .desc > p {
  opacity: 0.5;
  line-height: 1.12em;
  margin: 0.72em 0;
  font-weight: lighter;
}
@media only screen and (max-width: 769px) {
  .content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    font-size: 1.2em;
  }
  .content-right .desc > p {
    opacity: 1;
    line-height: 1.9;
  }
}
@media only screen and (max-width: 400px) {
  .content-right {
    font-size: 1em;
  }
}
header {
  display: flex;
}
header .left-logo {
  margin: 0;
  padding: 32px;
}
@media only screen and (min-width: 769px) {
  header .left-logo {
    border-right: 1px rgba(255,255,255,0.2) solid;
  }
}
@media only screen and (max-width: 769px) {
  header .left-logo {
    padding: 20px;
  }
}
header .left-logo > img {
  width: 100%;
  height: 100%;
}
header .header-name {
  font-size: 1.64em;
  margin: 16px 0;
}
.size-with-header {
  height: 6.4em;
  width: 6.4em;
}
@media only screen and (max-width: 769px) {
  .size-with-header {
    height: 4.12em;
    width: 4.12em;
  }
}
footer {
  display: flex;
  align-items: center;
}
footer .left-content {
  margin: 0;
  padding: 32px;
}
@media only screen and (min-width: 769px) {
  footer .left-content {
    border-right: 1px rgba(255,255,255,0.2) solid;
  }
}
footer .right-content {
  padding: 0 24px;
}
footer .dribble-link {
  color: #ea4c89;
  text-decoration: none;
  font-weight: bold;
  vertical-align: text-bottom;
}
@media only screen and (max-width: 769px) {
  footer .right-content {
    padding: 0 40px;
  }
}
.btn-say-yo {
  background: none;
  border: 1px rgba(255,255,255,0.2) solid;
  color: rgba(255,255,255,0.5);
  margin: 20px 0 0 0;
  padding: 15px 32px;
  font-size: 24px;
  width: 100%;
  ouline: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.btn-say-yo:hover,
.btn-say-yo:active,
.btn-say-yo:focus {
  color: #666;
  outline: none;
}
.btn-say-yo:hover {
  background-color: #fff;
}
.btn-say-yo:active {
  color: #444;
  background-color: #fff;
}
.side-nav-text {
  opacity: 0.5;
  transition: all 0.1s ease;
  position: relative;
  top: 0px;
}
.side-nav-text:hover,
.side-nav-text:active {
  opacity: 1;
}
.side-nav-text:active {
  top: -4px;
}
.white-circle {
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  color: #444;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  transition: all 0.1s ease;
  will-change: background-color;
}
.white-circle > i {
  font-size: 22px;
}
.white-circle:hover {
  background-color: #fff;
}
