:local(.container)
  
  .app-sidebar.is-fixed
    position fixed
    top 0
    bottom 0
  .content-p 
    line-height 60px
    font-size 36px
    font-weight $font-weight-normal
    color $dark
    letter-spacing 0
    &:first-child
      margin-top 0
    +below(rupture.desktop-cutoff)
      font-size 18px
      line-height 30px

  .dribble-link
    color #FF5E6C
    display inline-block
  .medium-link
    color #000
    display inline-block
  .behance-link
    color #76A0FF
    display inline-block
  .linkedin-link
    color #6778FF
    display inline-block

  .top-right-info
    width 120px
    text-align left
    transform rotate(90deg)
    transform-origin top left 
    font-weight $font-weight-bold
    font-size 12px
    color #000

  .rahul-runs 
    margin 70px 0
    position relative
    ratio-box(930/390)
    .rahul-runs-img
      position absolute
      top 0 
      left 0 
      right 0
      bottom 0 
    &:not(.is-hidden)
      animation fadeIn $time-1x
    &.is-hidden > .rahul-runs-img
      display none
    +mobile()
      margin-top 30px
    
      
  .quote-icon
    margin-right 1rem
  .content-emoji
    margin-left 1rem
  
  .w-clamped
    width 85%
    +mobile()
      width 100%

  .content-h1
    letter-spacing -3.3px
    line-height 110px
    font-size 100px
    font-weight $font-weight-bolder
    color #424A5C
    +below(rupture.desktop-cutoff)
      font-size 18px
      line-height 30px
      letter-spacing 0px
  
  .split-word
    display inline-block
    text-transform uppercase
    &:not(:last-child)
      margin-right 1rem
    
    &:last-child
      position relative
      &:after, &:before
        position absolute
        border-radius 50%
        content ''
        background-color currentColor
      &:before
        opacity 0.05
        right -100px
        width 150px
        height 150px

      &:after
        bottom 20px
        right -40px
        width 30px
        height 30px
      +mobile()
        &:before
          top -2px
          right -34px
          width 40px
          height 40px
        &:after
          height 8px
          width 8px
          right -18px
          top 14px
      

