$inputfield-input-height ?= 60px
$inputfield-input-border-radius ?= $border-radius
$inputfield-input-pad-left ?= 30px

:local(.container)
  position relative
  display flex
  flex-direction column
  width 100%

  .ui-inputfield-error
    position absolute
    bottom 20px
    left $inputfield-input-pad-left
    z-index 1
    color $danger
    letter-spacing 0.4px
    font-weight $font-weight-bold
    font-size 12px

  .ui-inputfield-input
    margin-bottom 20px
    padding-left $inputfield-input-pad-left
    width 100%
    height $inputfield-input-height
    outline none
    border 1px $border-color solid
    border-radius $inputfield-input-border-radius
    background-color #fff
    color $dark
    font-weight $font-weight-medium

    +ui-placeholder()
      opacity 0.5

    &:focus
      border-color $primary

  &.is-empty .ui-inputfield-input
    background-color $inactive-color

  &.has-error .ui-inputfield-input
    border-color $danger

  &.is-valid .ui-inputfield-input
    border-color $success

/*
 *  Password Input
 */
:local(.passwordInput)
  .ui-inputfield-input
    padding-right 60px

  .passwordinput-toggle
    position absolute
    top 20px
    right 20px
    width 24px
    height 24px
    opacity 0.5
    cursor pointer

    &.is-active
      opacity 1
      fill $primary
