$hero-text-line-height  = 67px


:local(.container)  
  display flex
  flex-direction column

  .hero-text-container
    position relative
    // margin-left 240px
    z-index 2
    flex 1
    display flex
    flex-direction column
    justify-content center
    +mobile()
      justify-content flex-end
      padding-bottom 10vh

  .go-down-button
    cursor pointer
    width 80px
    position absolute
    left 50%
    bottom 20px
    margin-left -40px
    z-index 3

  .hero-text
    font-size 48px
    font-weight $font-weight-bold
    margin 0
    line-height $hero-text-line-height
    position relative
    +mobile()
      font-size 24px
      line-height 30px
      .highlight
        display block
    +tablet()
      font-size 36px
      line-height 50px

  .hero-text
    opacity 0
    transform translate3d(0px, 40px, 0px)
    will-change transform, opacity
    transition transform $time-2x ease, opacity $time-2x ease
    &:nth-child(2)
      transition-duration $time-2x + 0.1s
    &:nth-child(3)
      transition-duration $time-2x + 0.2s

  .highlight
    color $text-highlight-color

  .profile-image
    position absolute
    right 80px
    top 60px
    left 40%
    bottom 60px
    background-image url('/public/img/profile-image.jpg')
    background-repeat no-repeat
    background-size contain
    background-position center right
    transform translate3d(0px, 100px, 0px)
    opacity 0
    will-change transform, opacity
    transition transform $time-2x ease, opacity $time-2x ease
    +mobile()
      left 0px
      right 0px
      top 0
      background-position center center
      z-index 0
      

  
  .hero-text.will-animate
    opacity 1
    transform translate3d(0px, 0px, 0px)
  .profile-image.will-animate
    transform translate3d(0px, 0px, 0px)
    opacity 1


