$button-bg ?= $body-bg
$button-pad-y ?= 10px
$button-pad-x ?= 32px
$button-shadow-color ?= $shadow-color
$button-border-color ?= $light
$button-text-color ?= #666


:local(.container)
  padding $button-pad-y $button-pad-x
  outline none
  color $button-text-color
  border 1px $button-text-color solid

  background-color transparent
  letter-spacing 0px
  
  font-size 18px
  line-height 21px
  transition all 0.32s ease
  
  height 60px

  min-width 200px
