@font-face {
    font-family: FuturaPTBold;
    src: url(./FuturaPTBold.otf);
}
@font-face {
    font-family: FuturaPTBook;
    src: url(./FuturaPTBook.otf);
}
@font-face {
    font-family: FuturaPTExtraBold;
    src: url(./FuturaPTExtraBold.otf);
}
/* @font-face {
    font-family: FuturaPT;
    src: url(./FuturaPT.otf);
} */