:local(.container)
  position relative
  
  &.ui-embed-16x9
    ratio-box(16/9)
  
  &.ui-embed-640x400
    ratio-box(640/400)
  
  &.ui-embed-16x10 
    ratio-box(16/10)

  &.ui-embed-preset-1, &.ui-embed-preset-2
    ratio-box(16/9)
  &.ui-embed-preset-1:before
    padding-top 62.512%
  &.ui-embed-preset-2:before
    padding-top 66.024%


  .ui-embed-item 
    position absolute
    top 0 
    left 0 
    right 0
    bottom 0
    width 100%
    height 100%
