:local(.container)
  &.no-text
    .ui-logo-text
      display none

:local(.container) .ui-logo-img
  display block
  margin-right 10px
  width 36px
  height 36px
  text-align center
  .material-icons
    font-size 32px

:local(.container) .ui-logo-text
  margin-right 4px
  letter-spacing 1px
  font-weight $font-weight-bolder
  font-size 20px
