:local(.container)
  display flex
  align-items center
  justify-content center
  width 30px
  height 30px

  .ui-logo-img
    max-width 100%

  &.black-square
    width 60px
    height 60px
    background-color #121417
    display flex
    align-items center
    justify-content center
