:local(.container)
  .bg-dark
    background-color $darker
  .bg-light
    background-color $lighter

  .page-section
    min-height 100vh
    width 100vw
    position relative
    color #000
    &:not(.portfolio-section)
      padding 150px 0
      +mobile()
        padding 110px 0
    &:not(.bg-dark)
      background-color $lighter
    &.bg-dark
      color #fff
      .page-title
        color #fff
      
  
  .heart-gif
    background-image url(/public/img/heart-gif.gif)
    width 60px
    height 60px
    background-size contain
    position absolute
    opacity 0

  .page-title 
    position absolute
    left 130px
    top 50px
    color #000
    font-size 24px
    font-weight $font-weight-bolder
    line-height 31px
    letter-spacing 0.13px
    +mobile()
      top 25px
      left 105px
  
  .live-button
    font-weight $font-weight-bold
    font-size 12px
    position absolute
    right 20px
    &:after 
      content ''
      position absolute
      top 4px
      left -20px
      width 10px
      height 10px
      background-color $text-highlight-color
      border-radius 50%
    +mobile()
      right 10px
      

  .contact-button
    cursor pointer
    width 60px
    height 60px
    border-radius 50%
    background-color #2D2F34
    position fixed
    bottom 50px
    right 50px
    z-index 10
    padding-top 15px
    padding-left 13px
    &:after, &:before
      content ''
      border-radius 50%
    &:before
      ui-absolute-layer 0
      z-index 0
      border 1px #ddd solid
      opacity 0
    &:after
      ui-absolute-layer 0 0 0 0
      z-index -1
      transform-origin center center
      transform scale(0)
      transition transform $time-1x ease
      background-color #ddd
    +mobile()
      bottom 30px
      right 30px

    img
      will-change transform
      transform-origin bottom right
      animation waving-hand 4s linear infinite
    &:hover
      &:after
        transform scale(1)
      &:before
        animation growing-fading-circle $time-2x linear
        animation-delay $time-1x





// Portfolio Section 
:local(.container)

  .herman-miller-portfolio .portfolio-item-details
    background-image linear-gradient(90deg, #F8758F, #FFAA9F)

  .compass-portfolio .portfolio-item-details
    background-image linear-gradient(90deg, #60CCEF, #C6F0FF)
  
  .indiez-portfolio .portfolio-item-details
    background-image linear-gradient(90deg, #EEBB78, #FFF5A7)

  .chefstalk-portfolio .portfolio-item-details
    background-image linear-gradient(90deg, #6BF9E0, #D3FFFC)



// Scrolling Sections
:local(.container)
  .cd-section
    position relative
    min-height 100vh
    overflow-x hidden
  
  .cd-section.stuck .page-section
    position fixed
    left 0
    right 0
    bottom 0
    +mobile()
      position relative

  .portfolio-section.show-details
    .portfolio-title, 
    .portfolio-description, 
    .demo-links, 
    .case-study-button
      opacity 1
      transform translate3d(0px, 0px, 0px)
      transition all 0.2s ease
    .portfolio-description
      transition-duration 0.25s
    .demo-links
      transition-duration 0.30s
    .case-study-button
      transition-duration 0.40s

  
  .portfolio-section:not(.show-details)
    .portfolio-title, 
    .portfolio-description, 
    .demo-links, 
    .case-study-button
      opacity 0
      transform translate3d(0px, 40px, 0px)
      +mobile()
        opacity 1

