@import 'vars'


normalize-css()
border-box-html()

html
	width 100%
	height 100%
	
body
	width 100vw
	height 100vh
	background-color #0F1213
	color #fff
	position relative
	font-size 1em
	font-weight normal
	font-family Circular-Book
	overflow-x hidden
	text-rendering geometricPrecision
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing antialiased

.hidden-above-cutoff
	+above(cutoff)
		display none
.hidden-below-cutoff
	+below(cutoff)
		display none

.flex-col
	display flex
	flex-direction column

header, footer
	height header_height
	+below(cutoff)
		height header_height_mobile
	
	
.side-nav
	border-left 1px rgba(#fff, 0.2) solid
	display flex
	justify-content space-around
	
	flex-direction column
	absolute top right bottom
	width sidenav_width
	+below(cutoff)
		flex-direction row
		position static
		width 100vw
		margin 32px 0
	> a
		color inherit
		text-decoration none
		font-weight bold
		transform rotateZ(90deg)
		transform-origin center center
		text-align center
		
	+below(cutoff)
		flex-direction row
		position static
		width 100vw
		padding 0 22px
		> a
			transform none
		
.main-container
	margin-right 0
	+above(cutoff)
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin-right sidenav_width
	
.main-content
	flex 1
	display flex
	flex-direction row
	+below(cutoff)
		flex-direction column
	
.content-left
	display block
	background-color bg_picture
	background-image url('/public/img/rb.png')
	background-repeat no-repeat
	background-position center center
	background-size cover
	flex 5
	+below(cutoff)
		height 64vh

.content-right
	display flex
	flex-direction column
	flex 3
	padding 0 64px
	font-size 16px
	letter-spacing 0.4px
	.name
		font-size 36px
		font-weight 900
		margin-bottom 32px
		margin-top -8px
	.desc
		flex 1
		overflow-y auto
	.desc > p
		opacity 0.5
		line-height 1.12em
		margin 0.72em 0
		font-weight lighter

	+below(cutoff)
		display flex
		flex-direction column
		align-items center
		justify-content center
		padding 30px 40px
		font-size 1.2em
		.desc > p
			opacity 1
			line-height 1.9
	+below(400px)
		font-size 1em


header 
	display flex
	.left-logo
		margin 0
		padding 32px
		+desktop()
			border-right 1px rgba(#fff, 0.2) solid
		+below(cutoff)
			padding 20px
	.left-logo > img
		width 100%
		height 100%
	.header-name
		font-size 1.64em
		margin 16px 0
		
.size-with-header
	height header_height
	width  header_height
	+below(cutoff)
		height header_height_mobile
		width  header_height_mobile

footer
	display flex
	align-items center
	.left-content
		margin 0
		padding 32px
		+desktop()
			border-right 1px rgba(#fff, 0.2) solid
	.right-content
		padding 0 24px
	.dribble-link
		color color_dribble
		text-decoration none
		font-weight bold
		vertical-align text-bottom
	+below(cutoff)
		.right-content
			padding 0 40px
		
.btn-say-yo
	background none
	border 1px rgba(#fff, 0.2) solid
	color rgba(#fff, 0.5)
	margin 20px 0 0 0
	padding 15px 32px
	font-size 24px
	width 100%
	ouline none
	// transform skew(-8deg)
	transition all 0.2s ease-in-out
	text-decoration none
	text-align center
	display inline-block
	&:hover, &:active, &:focus
		color #666
		outline none
	&:hover
		background-color #fff
	&:active
		color #444
		background-color #fff
		
	
	
.side-nav-text
	opacity 0.5
	transition all 0.1s ease
	position relative
	top 0px
	&:hover, &:active
		opacity 1
	&:active
		top -4px
.white-circle
	background-color rgba(#fff, 0.8)
	border-radius 50%
	color #444
	width 48px
	height 48px
	padding 12px 0
	transition all 0.1s ease
	will-change background-color
	> i
		font-size 22px
	&:hover
		background-color rgba(#fff, 1)
		