// Responsive Cutoffs
rupture.desktop-cutoff = 769px
cutoff = 769px


// Variables
// Customize these to reflect changes

bg_picture = #E7E7E7
bg_picture_dark = #1E2021

header_height = 6.4em
header_height_mobile = 4.12em

sidenav_width = 120px
sidenav_width_mobile = 50px

color_dribble   = #ea4c89
color_behance   = #1769ff
color_instagram = #f56040
color_linkedin  = #0077b5