:local(.container)
  color inherit
  background-color #fff
  .sidebar-link
    color #000
  
  
  .page-title
    line-height 61px
    font-weight $font-weight-bolder
    font-size 48px

  .sw-rahul
    color #000
  .sw-dot
    color $text-highlight-color
  .sw-live
    color #dadada

  .photos-grid-container
    margin 180px 120px 180px
    +tablet()
      margin-left 80px
      margin-right 80px
    +mobile()
      margin-left 50px
      margin-right 50px
    .item-2-1
      width 60%
    .item-1-2
      height 600px
  
    // display grid
    // grid-gap 0px
    // grid-template-columns repeat(auto-fill, minmax(250px, auto))
    // grid-auto-rows 300px
    // grid-auto-rows 300px
  

  .photo-item, .grid-sizer
    float left
    width 30%
    height 300px
  

  
  .photo-item
    min-width 150px
    min-height 150px
    position relative
  .photo-inner 
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  .photo-inner
    background-repeat no-repeat
    background-position center top   
    background-size cover

  .photos-grid-columns
    display block
