:local(.container)
  color inherit
  background-color #fff
  .sidebar-link
    color #000
  .sp-100
    height 100px
    width 100vw
  .y-400
    height 400px
    width 100vw
  .page-title
    line-height 61px
    font-weight $font-weight-bolder
    font-size 48px

  .sw-rahul
    color #000
  .sw-dot
    color $text-highlight-color
  .sw-live
    color #dadada


  .photo-item
    margin-bottom 160px
  .photo-inner
    ratio-box(1000/500)
    background-color #dadada
    position relative
    transform-origin center center
    will-change transform
    transition transform 0.1s linear
    .img-fluid
      position absolute
      top 0 
      left 0
      right 0
      bottom 0
  .photo-name
    text-align center
    margin-top 30px
    font-weight $font-weight-bold
    font-size 14px
    color #000
