// Variables
$header-height ?= 100px
$header-height-mobile ?= 60px
$header-bg ?= $body-bg


:local(.container)
  height $header-height
  background-color $header-bg
  padding 0 $half-gutter

  &.is-fixed
    position fixed
    top 0
    right 0
    left 0
    
  &.is-transparent
    background-color transparent
    color #fff

:local(.container)
  +mobile()
    height $header-height-mobile
    border-bottom 1px $border-color solid
    &.is-fixed
      padding-right $half-gutter
      padding-left $half-gutter


:local(.container)
  .header-link 
    margin-left $half-gutter
    cursor pointer
    color inherit
    font-weight $font-weight-bold
