:local(.container)
  color #000
  .hero-row
    height 12.5vh
    white-space nowrap
  .hero-word
    display inline-block
    font-size 12.5vh
    font-weight $font-weight-bolder
    line-height 10vh
    margin-right 2rem
    color rgba(#000, 0.03)
    cursor pointer
    transition color $time-1x ease
  .subword-live, .subword-dot, .subword-soon
    display inline-block
    color rgba(#000, 1)
  .subword-dot
    color $text-highlight-color
  .subword-soon
    color #DADADA


// Hover Colors
:local(.container)
  .w-digi:hover
    color #FFE6E6
  .w-cine:hover
    color #FFDFB6

  .w-trav:hover
    color #FBE6FF
  .w-dood:hover
    color #CEF6ED
  .w-gif:hover
    color #D7DAFF
  .w-mogr:hover
    color #FBEDAF
  .w-colo:hover
    color #E2D0FF
  .w-hack:hover
    color #FFD5E2
  .w-medi:hover
    color #B0D9FF
  .w-blog:hover
    color #FBF7AD
  .w-cine2:hover
    color #E3FBAF
  .w-yout:hover
    color #FBEDAF
  .w-lots:hover
    color #CAF9FE
  .w-reje:hover
    color #FCE3CF
  .w-oran:hover
    color #FFD4B2
  .w-teal:hover
    color #99DFFF
  .w-tuto:hover
    color #D5F1FB
  .w-hand:hover
    color #AFFBC8
  .w-pet:hover
    color #FFE6E6  
  